body {
background-color: beige;
}

.headimg {
width: fit-content; 
height: 150px; 
margin-right:100px;
float:left;
}

.pagetitle {
color: #c00000;
font-size: 48px;
align-items: flex-start;
right:400px;
}

.header {
display: flex;
justify-content: center;
}


.login-container {
display: flex;
justify-content:space-between;
}

.navga {
position: absolute;
left: 4px;
width: 200px;
top: 200px;
height: fit-content;
border: solid 2px #c00000;
align-items:center;
gap: 10px;
padding:8px;
display: flex;
font-size:20px;
border-radius: 40px;
justify-content: space-around;
flex-direction: column;
color:white;
}

.login {
background: #c00000;
color: #ffffff;
text-align: center;
border-radius: 10px;
padding: 10px;
}

.nav,.navlink {
color:white;}

.loginbit, .hometext {
width: 90%;
margin-top: 100px;
margin-left:300px;
}

legend {
font-size: 28px;}

#logs {
color: blue;}


table { border-collapse: collapse; 
width: 100%; 
margin-top: 10px; }


td, th { 
border: 1px solid #aaa; 
padding: 6px; 
text-align: center; 
}

button { 
margin: 4px; 
padding: 6px 12px; 
border-radius: 6px; 
cursor: pointer; 
}

.subbuttons {
position: absolute;
top: 240px;
width: 100%;
left: 240px;
border: solid 2px #c00000;
width: fit-content;
display: grid;
grid-template-columns: repeat(6,16%); 
padding-left: 30px;
}

.CTbuttonsexp {
top:480px;
}

.CTbuttons {
position: absolute;
top: 500px;
width: 100%;
left: 240px;
border: solid 2px #c00000;
width: fit-content;
display: grid;
grid-template-columns: repeat(6,16.6%);


}

.classtab {
position: absolute;
top:600px;
left: 240px;
width: 1000px;
}

.active { 
background: lightgreen; 
}





